html {
  overflow-y: scroll;

}

.Toastify__toast-theme--colored.Toastify__toast--info {
  border-radius: 2px !important;
  box-shadow: none !important;
  font-family: var(--toastify-font-family);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  border: solid 1px #73aafb !important;
  background-color: #5995ed !important;
  font-weight: 500 !important;
  fill: #fafafa !important;
  color: #fafafa !important;
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeOut {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

.fade_in {
  animation: fadeIn .2s ease-in-out;
}

.fade_out {
  animation: fadeIn .2s ease-in-out;
}

cssTransition html,
body {
  padding: 0;
  margin: 0;
  background-color: #2a2a2f;
  min-width: 450px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateX(2px)
  }

  50% {
    transform: translateX(-2px)
  }

  75% {
    transform: translateX(2px)
  }

  100% {
    transform: translateX(0)
  }
}


* {
  transition: 'all .2s';
  box-sizing: border-box;
}

/* ::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
} */